body {
  font-family: 'Open Sans', sans-serif;
  color: #1f2528;
  font-weight: lighter;
  font-size: 18px;
  margin: 20px;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.logo {
  width: 10%;
  padding: 1%;
  float: left;
}
.topnav {
    overflow: hidden;
    width: 50%;
    margin-left: auto;
  }
.topnav a {
  float: left;
  color: #4682b4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  }
.topnav a:hover {
  color: #ff4040;
  }
.topnav a.active {
  background-color: #ff4040;
  color: white;
  }
.row {  
  display: flex;
  flex-wrap: wrap;
  }
.leftside { 
  flex: 40%;
}
.rightside { 
  flex: 60%;
}
.heroimg {
  height: 600px;
}
.p {
  width: 50%;
}
.bottomnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  height: 25px;
}
.bottomnav a {
  float: center;
  color: #ff4040;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.bottomnav a:hover {
  color: #4682b4;
}
h1 {
  font-size: 40px;
  color: #ff4040;
  font-weight: bolder;
}
h2 {
  font-size: 24px;
  font-weight: bolder;
}
button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;
  position: absolute;
  width: 150px;
  height: 38px;
  border: 0.5px solid #1F2528;
  box-sizing: border-box;
}
button:hover {
  background-color: #FF4040;
  border: none;
  color: white;
}